.header {
  display: flex;
  padding: 28px 38px 33.559px 40px;
  justify-content: space-between;
  align-items: center;
  &__btn-mobile {
    width: 60px;
    height: 60px;
    background-color: var(--navy, #050f28);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;
  }
  &__modal {
    width: 1214px;
    height: 637px;
    background: var(--white, #fff);
    border-radius: 40px;
    padding: 60px 45px 60px 53px;
    position: relative;
    .modal {
      &__close {
        position: absolute;
        top: 27px;
        right: 34px;
        width: 34px;
        height: 34px;
        cursor: pointer;
      }
      &__title {
        color: #000;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        margin-bottom: 41px;
      }
      &__form {
        .form {
          label {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
          }
          &__row1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 22px;
            .row1 {
              &__input {
                display: flex;
                flex-direction: column;
              }
            }
            input {
              width: 526px;
              height: 80px;
              border-radius: 4px;
              background: var(--grey, #f6f6f6);
              border: none;
              padding: 10px;
            }
          }
          &__row2 {
            margin-bottom: 43px;
            input {
              width: 1094px;
              height: 166px;
              border-radius: 4px;
              background: var(--grey, #f6f6f6);
              border: none;
              padding: 10px;
            }
          }
          &__button {
            display: flex;
            padding: 42px 120px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 65px;
            background: var(--navy, #050f28);
            color: var(--white, #fff);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 90%; /* 16.2px */
            letter-spacing: 1.08px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.modal-content {
  align-items: center;
}

@media (max-width: 1024px) {
  .header {
    padding: 7px 20px 14px 20px;
    &__logo {
      img {
        width: 312px;
        height: 76.915px;
      }
    }
    &__modal {
      width: 924px;
      height: 745px;
      .modal {
        &__form {
          .form {
            &__row1 {
              flex-direction: column;
              gap: 23px;
              .row1 {
                &__input {
                  width: 100%;
                  input {
                    width: 100%;
                  }
                }
              }
            }
            &__row2 {
              margin-bottom: 30px;
              input {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 6px 10px;
    &__logo {
      img {
        width: 186px;
        height: 45.853px;
      }
    }
    &__btn {
      display: none;
    }
    &__btn-mobile {
      display: flex;
    }
  }
}
